
<div class="detail">
  <div class="container bi-text-right">
    <div class="row align-items-start">
      <div class="col">
        <app-film-card [film]="this.film"></app-film-card>
      </div>
      <div class="col">
        <app-film-description [film]="this.film" [isFavorited]="this.isFavorited" ></app-film-description>
      </div>
    </div>
  </div>

  <div class="container bi-text-right" *ngIf="film">
    <div class="row align-items-start">
      <div class="col">
        <app-film-comment [filmId]="film.id"></app-film-comment>
        <app-all-comments [comments]="comments"></app-all-comments>
      </div>
    </div>
  </div>

</div>

