<div class="home">
  <div class="container listFilm">
    <div class="row row-cols-4">
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
        <app-film-card [film]="films[0]"></app-film-card>
    </div>
  </div>
</div>
