<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand" href="/">
        <img src="./assets/images/logoHeader.png" alt="Logo" width="70" class="d-inline-block align-text-top">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/favoris">Favoris</a>
        </li>
        <li *ngIf="authenticated()" class="navbar-text me-auto">
          <span>Welcome {{username}}</span>
        </li>
      </ul>
      <form class="d-flex" role="search" [formGroup]="checkoutForm" (ngSubmit)="searchMovies()">
        <!-- Search input and button -->
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" formControlName="search">
        <button class="btn btn-outline-success" type="submit">Search</button>

        <!-- Dropdown menus -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Log Out button -->
          <li class="nav-item">
            <span *ngIf="authenticated()" class="btn btn-outline-danger" (click)="logout()">
              <i class="bi bi-box-arrow-right"></i>
            </span>
            <span [routerLink]="'auth/authL'" *ngIf="!authenticated()" class="btn btn-outline-danger">
              Log in
            </span>
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
